{% extends 'base_manager.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mx-auto px-4 py-8 mt-4">
        <div>
            <h1>Invitations</h1>
            <p class="subtitle">Use the form below to send out invitations to your survey participants.</p>
        </div>
        <div class="card custom-card shadow-sm my-4">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
