{% extends 'base_manager.html' %}

{% block content %}
    <div class="error-message">
        <h2>Survey Access Error</h2>
        {% if error == "This survey link has already been used." %}
            <p>This survey link has already been used. If you believe this is an error, please contact your survey administrator.</p>
        {% else %}
            <p>There was an error processing your request. Please check the link and try again.</p>
        {% endif %}
        <p><a href="{% url 'home' %}" class="btn">Return to Home</a></p>
    </div>
{% endblock %}
