{% extends 'base_manager.html' %}
{% load static %}
{% load vite_integration %}
{% block content %}
    <!-- Include stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet"/>
    <div class="container mx-auto px-4 py-8 mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <i class="bx bxs-buildings"></i> <a href="{% url 'myorganisation' %}">My Organisation</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <i class="bx bxs-folder-open"></i> <a
                        href="{% url 'project' survey.project.id %}">Project: {{ survey.project.name }}</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <i class="bx bxs-chart"></i> <a href="{% url 'survey' survey.id %}"> Survey: {{ survey.name }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <i class='bx bx-collection'></i> Gather evidence
                </li>
            </ol>
        </nav>
    </div>
    <div class="container mx-auto px-4 py-8">
        <h1><i class='bx bx-collection'></i> Gather evidence</h1>
        <p>Once you have collected enough responses, use this section to gather evidence in support of the survey
            results.</p>


        <ul class="nav nav-tabs">
            {% for section in sections %}
                <li class="nav-item">
                    <a class="nav-link {% if section.section_id == evidence_section.section_id %}active{% endif %}"
                       aria-current="page"
                       href="{% url "survey_evidence_gathering" survey.id section.section_id %}"
                    >
                        {{ section.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="mb-3 pt-3 ps-3 pe-3">
            <div>
                <h3>{{ section_config.title }}</h3>
            </div>
            <div>
                <h5>Survey summary</h5>

                <div
                        class="sort-response-section-viewer"
                        data-json-config-id="configData"
                        data-json-responses-id="responsesData"
                        data-section-index="{{ evidence_section.section_id }}"
                ></div>


                <h2>Evidence statement</h2>
                <p>In support of the survey result, please gather the evidence for this section in the text box
                    below.</p>
                <!-- Create the editor container -->
                <div class="sort-quill-editor"
                     data-update-url="{% url 'survey_evidence_gathering_update' survey.id evidence_section.section_id %}"
                     data-init-contents="{{ evidence_section.text }}"></div>

                <h2>Attached evidence</h2>
                <p>
                    Files and reports can be included as evidence, some examples include:


                </p>
                <ul>
                    <li>
                        Published report
                    </li>
                    <li>
                        Planning document for the initatives
                    </li>
                    <li>
                        etc.
                    </li>
                </ul>

                <form action="{% url 'survey_evidence_add_file' survey.id evidence_section.section_id %}"
                      method="post"
                      enctype="multipart/form-data"
                      class="mb-3"
                >

                    {% csrf_token %}
                    <div class="input-group">
                        <input type="file" name="file" class="form-control"/>
                        <button type="submit" name="submit" class="btn btn-primary">Upload file</button>
                    </div>
                </form>


                {# Svelte file preview browser #}
                <div class="sort-file-browser" data-json-id="filesListData"></div>

            </div>
        </div>

        {{ csrf | json_script:"csrf" }}
        {{ files_list | json_script:"filesListData" }}
        {{ survey.survey_config | json_script:"configData" }}
        {{ responses | json_script:"responsesData" }}
        {% vite_client %}
        {% vite_asset "src/main.ts" %}

    </div>
{% endblock %}
