{% extends 'base_manager.html' %}
{% load static %}
{% load vite_integration %}
{% block title %}Gather evidence for {{ survey }}{% endblock %}
{% block content %}
    <div class="container mx-auto px-4 py-8 mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <i class="bx bxs-buildings"></i> <a href="{% url 'myorganisation' %}">Organisation Dashboard</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <i class="bx bxs-folder-open"></i> <a
                        href="{% url 'project' survey.project.id %}">Project: {{ survey.project.name }}</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <i class="bx bxs-chart"></i> <a href="{% url 'survey' survey.id %}"> Survey: {{ survey.name }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <i class='bx bx-collection'></i> Gather evidence
                </li>
            </ol>
        </nav>
    </div>
    <div class="container mx-auto px-4 py-8">
        <h1><i class='bx bx-collection'></i> Gather supporting evidence</h1>
        <p>
            Once you have collected enough responses, use this page to compile evidence to support and contextualizes
            your findings. Strong supporting evidence will help stakeholders understand the broader implications of your
            survey results and inform evidence-based decision making.
        </p>
        <p>
            <strong>How to use this page:</strong>
            Each tab below corresponds to a section of your SORT survey. For each section, you can provide an evidence
            statement and attach relevant evidence that either corroborates your findings or provides additional context
            to help interpret the results for that category. Consider including materials such as studies, policy
            documents, and reports.
        </p>
        <ul class="nav nav-tabs">
            {% for section in sections %}
                <li class="nav-item">
                    <a class="nav-link {% if section.section_id == evidence_section.section_id %}active{% endif %}"
                       aria-current="page"
                       href="{% url "survey_evidence_gathering" survey.id section.section_id %}"
                    >
                        {{ section.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="mb-3 pt-3 ps-3 pe-3">
            <div>
                <h2>{{ section_config.title }}</h2>
            </div>
            <div>
                <div
                        class="sort-response-section-viewer"
                        data-json-config-id="configData"
                        data-json-responses-id="responsesData"
                        data-section-index="{{ evidence_section.section_id }}"
                        data-use-bar-chart="true"
                ></div>
                <h3>Evidence statement</h3>
                <p>
                    In support of the survey result, use the text box below to provide
                    context for your evidence and explain how it relates to your survey findings.
                </p>
                <!-- Create the editor container -->
                <div class="card">
                    <div class="card-body">
                        <div class="sort-richtext-field"
                             data-update-url="{% url 'survey_evidence_gathering_update' survey.id evidence_section.section_id %}"
                             data-init-contents="{{ evidence_section.text }}">
                        </div>
                    </div>
                </div>
                <h3>Attach evidence</h3>
                <p>
                    Use the file uploader below to attach documents and reports as evidence.
                    Supporting evidence should be credible, relevant, and recent. Aim for a mix of quantitative data and
                    qualitative insights. Ensure any patient or staff data is anonymous.
                    Some examples of appropriate evidence include published research studies or systematic reviews,
                    clinical audit reports and quality improvement data, and local or national policy documents and
                    guidelines.
                <form action="{% url 'survey_evidence_add_file' survey.id evidence_section.section_id %}"
                      method="post"
                      enctype="multipart/form-data"
                      class="mb-3"
                >
                    <i class='bxs bxs-paper'></i>
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="file" name="file" class="form-control"/>
                        <button type="submit" name="submit" class="btn btn-primary">
                            <i class="bx bx-upload"></i> Upload file
                        </button>
                    </div>
                </form>
                {# Svelte file preview browser #}
                <div class="sort-file-browser" data-json-id="filesListData"></div>
            </div>
        </div>
        {{ csrf | json_script:"csrf" }}
        {{ files_list | json_script:"filesListData" }}
        {{ survey.survey_config | json_script:"configData" }}
        {{ responses | json_script:"responsesData" }}
        {% vite_client %}
        {% vite_asset "src/main.ts" %}
    </div>
{% endblock %}
