{% extends 'base_manager.html' %}
{% load static %}
{% load vite_integration %}
{% block title %}Improvement plan for {{ survey }}{% endblock %}
{% block content %}
    <div class="container mx-auto px-4 py-8 mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <i class="bx bxs-buildings"></i> <a href="{% url 'myorganisation' %}">Organisation Dashboard</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <i class="bx bxs-folder-open"></i> <a
                        href="{% url 'project' survey.project.id %}">Project: {{ survey.project.name }}</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                    <i class="bx bxs-chart"></i> <a href="{% url 'survey' survey.id %}"> Survey: {{ survey.name }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <i class='bx bxs-file-plus'></i> Improvement plan
                </li>
            </ol>
        </nav>
    </div>
    <div class="container mx-auto px-4 py-8">
        <h1><i class='bx bxs-file-plus'></i> Improvement plan</h1>
        <p>Use this section to create an improvement plan after collecting survey responses and gathering the
            evidence.</p>

        <ul class="nav nav-tabs">
            {% for section in sections %}
                <li class="nav-item">
                    <a class="nav-link {% if section.section_id == evidence_section.section_id %}active{% endif %}"
                       aria-current="page"
                       href="{% url "survey_improvement_plan" survey.id section.section_id %}"
                    >
                        {{ section.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="mb-3 pt-3 ps-3 pe-3">
            <div>
                <h2>{{ improve_section.title }}</h2>
            </div>
            <div>
                <h5>Survey summary</h5>

                <div
                        class="sort-response-section-viewer"
                        data-json-config-id="configData"
                        data-json-responses-id="responsesData"
                        data-section-index="{{ evidence_section.section_id }}"
                        data-use-bar-chart="true"
                ></div>

                <h5>Evidence statement</h5>
                <div class="sort-richtext-field mb-2"
                     data-update-url="{% url 'survey_evidence_gathering_update' survey.id evidence_section.section_id %}"
                     data-init-contents="{{ evidence_section.text }}" data-view-only="true"></div>
                <h5>Evidence files</h5>
                <div class="sort-file-browser" data-json-id="filesListData"></div>
                <h5>Improvement plan</h5>
                <p>
                    In the table below, list a plan of action you intend to take in the upcoming period using
                    SMART objectives (Specific, Measurable, Achievable, Relevant and Time-bound).
                </p>
                <div class="sort-smart-table" data-update-url="{{ update_url }}" data-plan="{{ plan }}"></div>

            </div>
        </div>


        {{ csrf | json_script:"csrf" }}
        {{ files_list | json_script:"filesListData" }}
        {{ survey.survey_config | json_script:"configData" }}
        {{ responses | json_script:"responsesData" }}
        {% vite_client %}
        {% vite_asset "src/main.ts" %}

    </div>
{% endblock %}



