{% extends 'base_anonymous.html' %}
{% load static %}
{% load vite_integration %}
{% block content %}
<div class="container mx-auto px-4 py-8 m-3">
    <div class="sort-survey-response" data-json-config-id="configData"></div>
</div>
{{ csrf | json_script:"csrf" }}
{{ value | json_script:"responseValue" }}
{{ survey.survey_config | json_script:"configData" }}
{% vite_client %}
{% vite_asset 'src/main.ts' %}
<div class="container">
    <p class="text-sm-center">
        <strong>Survey reference number:</strong>
        <span class="user-select-all">{{ survey.reference_number }}</span>
    </p>
</div>
{% endblock %}
