{% extends "login_base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Email</label>
            <input type="email" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
    <div class="text-center mt-3 small-text" style="font-size: 0.7rem;">
        <div class="text-end mt-1 small-text">
            <a href="{% url 'password_reset' %}" class="small">Forgot Password?</a>
        </div>
    </div>

{% endblock %}
