{% extends "base_manager.html" %}

{% block content %}
<div class="container mx-auto px-4 py-8 mt-4">
    <div>
        <h1>Change password</h1>
        <p class="subtitle">Use the form below to update your password.</p>
    </div>
    <div class="card custom-card shadow-sm my-4">
        <div class="card-body">

            <form method="post">{% csrf_token %}
                <div>
                    {% if form.errors %}
                        <p class="alert alert-warning" role="alert">
                            Please correct any errors below.
                        </p>
                    {% endif %}

                    <p>
                        Please enter your old password for security reasons. Then enter your new password twice
                        so we can verify you typed it in correctly.
                    </p>

                    <fieldset>
                        <!-- Old password -->
                        <div>
                            {{ form.old_password.errors }}
                            {{ form.old_password.label_tag }}
                            {{ form.old_password }}
                        </div>

                        <div>
                            {{ form.new_password1.errors }}
                            <div>{{ form.new_password1.label_tag }} {{ form.new_password1 }}</div>
                            {% if form.new_password1.help_text %}
                                <div class="form-text"{% if form.new_password1.id_for_label %}
                                     id="{{ form.new_password1.id_for_label }}_helptext"{% endif %}>{{ form.new_password1.help_text|safe }}</div>
                            {% endif %}
                        </div>

                        <div>
                            {{ form.new_password2.errors }}
                            <div>{{ form.new_password2.label_tag }} {{ form.new_password2 }}</div>
                            {% if form.new_password2.help_text %}
                                <div class="form-text "{% if form.new_password2.id_for_label %}
                                     id="{{ form.new_password2.id_for_label }}_helptext"{% endif %}>{{ form.new_password2.help_text|safe }}</div>
                            {% endif %}
                        </div>

                    </fieldset>

                    <div>
                        <input type="submit" value="Change my password" class="btn btn-primary">
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
