{% extends "base_manager.html" %}

{% block content %}
   <div class="container mx-auto px-4 py-8 mt-4">
               {% if user.is_authenticated %}
                   <div class="card custom-card shadow-sm mb-4">
                       <div class="card-body">
                            {% if user.first_name %}
                                {% if user.last_name %}
                                    <h2 class="card-title">Welcome, {{ user.first_name }} {{ user.last_name }}!</h2>
                                {% else %}
                                    <h2 class="card-title">Welcome, {{ user.first_name }}!</h2>
                                {% endif %}
                            {% else %}
                                <h2 class="card-title">Welcome!</h2>
                                <p class="card-text">Your name has not been set.
                                Click to <a href="{% url 'profile' %}">update your profile.</a>
                            </p>
                            {% endif %}
                            {% if user.organisation_set.first %}
                                <p class="card-text">Your organisation is {{ user.organisation_set.first.name }}.</p>
                                {% if projects.count > 0 %}
                                    You have {{ projects.count }} project(s):
                                    <ul>
                                        {% for project in projects %}
                                        <li>
                                            <a href="{% url 'project' project.id %}">{{ project.name }}</a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    You have 0 projects. To get started, please follow these steps:
                                    <ul>
                                        <li>
                                            Navigate to <a href="{% url 'organisation_create' %}">My Organisation</a>
                                        </li>
                                        <li>
                                            Create a project
                                        </li>
                                        <li>
                                            Edit the project to create a survey
                                        </li>
                                    </ul>
                                {% endif %}
                                <p class="card-text">
                                    View the <a href="{% url 'organisation_create' %}">My Organisation</a> page to manage your projects. Use this page to also manage your surveys and their invitations.
                                </p>
                            {% else %}
                                <p class="card-text">You are not part of an organisation.
                                    Click to <a href="{% url 'organisation_create' %}">create your first organisation.</a>
                                </p>
                            {% endif %}
                       </div>
                   </div>
               {% endif %}

               <div class="card custom-card shadow-sm mb-4">
                   <div class="card-body">
                       <h1 class="card-title">About SORT</h1>
                       <p class="card-text">
                           SORT provides a comprehensive self-assessment framework to evaluate and strengthen your organisation's research capabilities in nursing and health practices. It helps assess your research maturity and available support, providing a tailored plan to integrate research into practice for improved patient care.
                       </p>
                   </div>
               </div>
           </div>
       </div>
   </div>
{% endblock %}
