{% extends "base.html" %}

{% block content %}

<h4>About</h4>
    <p>The SORT provides a comprehensive self-assessment framework, enabling organisations to evaluate and
        strengthen their research capabilities within nursing and broader health and care practices. By guiding
        you through forty-four targeted statements, SORT helps assess your current level of research maturity
        and the support available for nurses involved in research. Upon completion, your organisation will be
        equipped to create a tailored improvement plan to better integrate research into nursing practice,
        ultimately contributing to improved patient care.
    </p>


{% endblock %}
