# Coverage report configuration
# https://coverage.readthedocs.io/en/7.7.1/config.html

[run]
source = .
omit =
    __init__.py
    */migrations/*
    SORT/*
    */admin.py

[report]
format = markdown
skip_empty = true
