django==5.1.15
django-bootstrap5==24.3
django-extensions==3.2.3
django-qr-code==4.1.0
django-crispy-forms==2.4
crispy-bootstrap5==2025.4
django-invitations==2.1.0
django-allauth==65.13.0
psycopg[binary]==3.2.*
python-dotenv==1.0.1
gunicorn==23.*
strenum==0.4.15
xlsxwriter==3.2.5
sqlparse==0.5.4
tzdata==2024.1
