{% extends "base_manager.html" %}
{% block title %}Delete {{ project }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card  m-3">
                <div class="card-header text-bg-danger">
                    <h2>Deleting project {{ project.name }}</h2>
                </div>
                <div class="card-body">
                    <p>
                        Are you sure you want to delete {{ project.name }}? All of the
                        project's {{ project.survey_set.count }} survey(s) and associated
                        data will also be deleted.
                    </p>
                    <div class="d-flex">
                        <div>
                            <a href="{% url 'project' project.pk %}" class="btn btn-secondary me-4">Cancel</a>
                        </div>
                        <div>
                            <form method="POST">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-danger" value="Delete"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
