{% extends "base_manager.html" %}
{% load crispy_forms_tags %}
{% block title %}Edit {{ project }}{% endblock %}
{% block content %}
<div class="container mt-3">
    <div>
        <h1>Edit Project</h1>
        <p class="subtitle">Use the form below to edit your project details.</p>
    </div>
    <div class="card custom-card shadow-sm my-4">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" style="background-color: #6933AD; border: none;">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
