{% extends "base_manager.html" %}
{% block content %}
    <div class="container mx-auto px-4 py-8">
        <h1>How to use the SORT online tool</h1>
        <p>See the video below for instructions on how to use the SORT online tool.</p>

        <iframe id="kaltura_player" style="width: 80%; aspect-ratio: 16 / 9; margin: auto"
                src='https://cdnapisec.kaltura.com/p/2103181/embedPlaykitJs/uiconf_id/53345422?iframeembed=true&amp;entry_id=1_e1eky7pw&amp;config%5Bprovider%5D=%7B%22widgetId%22%3A%221_t5fs1o53%22%7D&amp;config%5Bplayback%5D=%7B%22startTime%22%3A0%7D'
                style="width: 400px;height: 285px;border: 0;" allowfullscreen webkitallowfullscreen mozAllowFullScreen
                allow="autoplay *; fullscreen *; encrypted-media *"
                sandbox="allow-downloads allow-forms allow-same-origin allow-scripts allow-top-navigation allow-pointer-lock allow-popups allow-modals allow-orientation-lock allow-popups-to-escape-sandbox allow-presentation allow-top-navigation-by-user-activation"
                title="SORT Application Introduction"></iframe>
    </div>
{% endblock %}
