{% extends "base_manager.html" %}
{% block content %}
    <div class="container mx-auto px-4 py-8">
        <h1>Privacy notice for survey participants</h1>
        <p>
            This privacy policy statement tells you what to expect us to do with your personal information when you
            submit a response using the <a href="https://www.sort-online.org/">SORT Online</a> survey system.
        </p>
        <h2>About SORT Online</h2>
        <p>
            <a href="https://www.sort-online.org/">SORT Online</a> is a cutting-edge resource developed by leading
            researchers at the University of Sheffield in collaboration with NHS England. Designed to support health and
            care organisations, SORT is here to enhance your organisation's capacity to engage in and support nursing
            research.
        </p>
        <h3 id="contact-details">Contact details</h3>
        <p>If you have any questions or concerns, please feel free to get in touch with the SORT Online support team at
            📧&nbsp;
            <a href="mailto:sort-online-support-group@sheffield.ac.uk">sort-online-support-group@sheffield.ac.uk</a>.
        </p>
        <h2>What information we collect and use, and why</h2>
        <p>We collect and use the following personal information as part of managing the organisation.</p>
        <ul>
            <li>Gender</li>
            <li>Employment history (length of service)</li>
            <li>Education history (highest level of qualification)</li>
        </ul>
        <p>
            We also collect or use the following special category information. This information is subject to
            additional protection due to its sensitive nature:
        <ul>
            <li>Ethnic origin</li>
        </ul>
        <h2>Lawful bases and data protection rights</h2>
        <p>
            Under UK data protection law, we must have a “lawful basis” for collecting and
            using your personal information. There is a list of possible lawful bases in the
            UK General Data Protection Regulation (GDPR).
            You can find out more about lawful bases from the <a
                href="https://ico.org.uk/">Information
            Commissioner's Office</a> (ICO).
        </p>
        <p>
            Which lawful basis we rely on may affect your data protection rights which are
            set out in brief below. You can find out more about your data protection rights
            and the exemptions which may apply on the <abbr title="Information Commissioner's Office">ICO's</abbr>
            website:
        </p>
        <ul>
            <li>
                <strong>Your right of access</strong>&mdash;You have the right to ask us for copies of your
                personal information. You can request other information such as details
                about where we get personal information from and who we share personal
                information with. There are some exemptions which means you may not
                receive all the information you ask for. Read more about the right of
                access.
            </li>
            <li>
                <strong>Your right to rectification</strong>&mdash;You have the right to ask us to correct or
                delete personal information you think is inaccurate or incomplete. Read
                more about the right to rectification.
            </li>
            <li>
                <strong>Your right to erasure</strong>&mdash;You have the right to ask us to delete your
                personal information. Read more about the right to erasure.
            </li>
            <li>
                <strong>Your right to restriction of processing</strong>&mdash;You have the right to ask us
                to limit how we can use your personal information. Read more about the
                right to restriction of processing.
            </li>
            <li>
                <strong>Your right to object to processing</strong>&mdash;You have the right to object to the
                processing of your personal data. Read more about the right to object to
                processing.
            </li>
            <li>
                <strong>Your right to data portability</strong>&mdash;You have the right to ask that we
                transfer the personal information you gave us to another organisation, or
                to you. Read more about the right to data portability.
            </li>
            <li>
                <strong>Your right to withdraw consent</strong>&mdash;When we use consent as our lawful
                basis you have the right to withdraw your consent at any time. Read more
                about the right to withdraw consent.
            </li>
        </ul>
        <p>
            If you make a request, we must respond to you without undue delay and in any
            event within one month.
        </p>
        <p>
            To make a data protection rights request, please contact us using the contact
            details at the top of this privacy notice.
        </p>
        <h3>Our lawful bases for the collection and use of your data</h3>
        <p>Our lawful basis for collecting or using personal information as part of team
            administration and management is:</p>
        <ul>
            <li><strong>Consent</strong>&mdash;we have permission from you after we gave you all the relevant
                information. All of your data protection rights may apply, except the right to
                object. To be clear, you do have the right to withdraw your consent at any
                time.
            </li>
        </ul>
        <p>
        <h2>
            Where we get personal information from
        </h2>
        <p>
            We collect your information directly from you by asking you to complete an online questionnaire.
        </p>
        <h2>How long we keep information</h2>
        <p>
            For more information about how long we keep your information, take a look at our
            <a href="/retention">retention schedule</a>.
        </p>
        <h2>How to complain</h2>
        <p>
            If you have any concerns about our use of your personal data, you can make a
            complaint to us using the <a href="#contact-details">contact details</a> at the top of this privacy notice.
        </p>
        <p>
            If you remain unhappy with how we’ve used your data after raising a complaint with
            us, you can also complain to the ICO.
        </p>
        <p>
            The ICO's address:
        </p>
        <address>
            Information Commissioner's Office<br/>
            Wycliffe House<br/>
            Water Lane<br/>
            Wilmslow<br/>
            Cheshire<br/>
            SK9 5AF<br/>
        </address>
        <p>
            Helpline number: <a href="tel:+443031231113">0303 123 1113</a><br/>
            Website: <a href="https://www.ico.org.uk/make-a-complaint">ico.org.uk/make-a-complaint</a>
        </p>
    </div>
{% endblock %}
