:root {
    --primary-colour: #440099;
    --primary-bg-colour: #DACCEB;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f8f9fa;
}

header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar {
    background-color: var(--primary-bg-colour);
}

footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
    font-weight: normal
}

.card-header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.text-center a {
    color: #7C4DB8;
    text-decoration: none;
}

.text-center a:hover {
    color: var(--primary-colour);
    text-decoration: underline;
}

.card.custom-card {
    border-radius: 1rem;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
     flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.card-body.custom-card, .card.custom-card > .card-body {
    width: 100%;
    line-height: 1.5;
     flex-direction: column;
    align-items: center;
    margin:0 auto;
}

.title-container {
    margin-bottom: 5px;
}

.sort-title {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1rem;
    color: #555;
}

.btn-primary {
    background-color: #6933AD !important;
    border-color: #6933AD !important;
}

.btn-primary:hover {
    background-color: var(--primary-colour) !important;
    border-color: var(--primary-colour) !important;
}

.btn-primary, .btn-primary:hover {
    color: white !important;
}

.full-height {
    height: 100vh;
}

.form-label {
    text-align: left !important;
    display: block;
    margin-bottom: 0.5rem;
}

.form-control {
    padding: 0.375rem 0.75rem;
}
