h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
    font-weight: normal
}

.card-header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.text-center a {
    color: #7C4DB8;
    text-decoration: none;
}

.text-center a:hover {
    color: #440099;
    text-decoration: underline;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    flex-direction: column;
    padding: 5px;
}

.container-register {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    flex-direction: column;
    padding: 5px;
}

.card {
    border-radius: 1rem;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    max-width: 380px;
    width: 100%;
     flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.card-body {
    max-width: 500px;
    width: 100%;
    line-height: 1.5;
    flex-direction: column;
    align-items: center;
    margin:0 auto;
}

.title-container {
    margin-bottom: 5px;
}

.sort-title {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1rem;
    color: #555;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-primary {
    background-color: #440099 !important;
    border-color: #440099 !important;
}

.btn-primary:hover {
    background-color: #6933AD !important;
    border-color: #6933AD !important;
}

.btn-primary, .btn-primary:hover {
    color: white !important;
}

.full-height {
    height: 100vh;
}

.form-label {
    text-align: left !important;
    display: block;
    margin-bottom: 0.5rem;
}

.form-control {
    padding: 0.375rem 0.75rem;
}

.form-check-label{
    font-size: 0.75rem;
}

.btn-outline-primary {
    color: #440099 !important;
    border-color: #440099 !important;
}

.btn-outline-primary:hover {
    background-color: #440099 !important;
    border-color: #440099 !important;
    color: white !important;
}