# This is a systemd unit that defines the Gunicorn service.
# https://docs.gunicorn.org/en/stable/deploy.html#systemd
# https://www.freedesktop.org/software/systemd/man/latest/systemd.service.html

[Unit]
Description=gunicorn service
Requires=gunicorn.socket
After=network.target

[Service]
# gunicorn can let systemd know when it is ready
Type=notify
NotifyAccess=main
# the specific user that our service will run as
User=gunicorn
Group=gunicorn
# this user can be transiently created by systemd
DynamicUser=true
RuntimeDirectory=gunicorn
WorkingDirectory=/opt/sort
# DJANGO_MEDIA_ROOT
ReadWritePaths=/srv/www/sort/uploads/
ExecStart=/opt/sort/venv/bin/gunicorn SORT.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
# if your app does not need administrative capabilities, let systemd know
ProtectSystem=strict
Delegate=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
# https://www.freedesktop.org/software/systemd/man/latest/systemd.exec.html#Credentials
LoadCredential=.env:/opt/sort/.env
EnvironmentFile=${CREDENTIALS_DIRECTORY}/.env

[Install]
WantedBy=multi-user.target
