{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block navitems %}

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <div class="container-fluid">
                <button 
                    class="navbar-toggler" 
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="{% url 'home' %}"><i class="bx bxs-home"></i> Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if '/profile' in request.path %}active{% endif %}" href="{% url 'profile' %}"><i class="bx bxs-user"></i> Profile</a>
                        </li>
                        <li class="nav-item">
                            {% url 'organisation_create' as organisation_create_url %}
                            <a class="nav-link 
                                {% if '/myorganisation' in request.path %}active{% endif %} 
                                {% if '/organisation' in request.path %}active{% endif %}
                                {% if '/projects' in request.path %}active{% endif %} 
                                {% if '/survey' in request.path %}active{% endif %} 
                                {% if '/completion' in request.path %}active{% endif %}
                                {% if '/invite' in request.path %}active{% endif %}"
                                href="{% url 'myorganisation' %}"><i class="bx bxs-buildings"></i> My Organisation</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <form id="logout-form"
                                    action="{% url 'logout' %}"
                                    method="POST"
                                    style="display: inline">
                                    {% csrf_token %}
                                    <button type="submit" class="nav-link btn btn-link btn-primary"><i class="bx bxs-user-x"></i> Logout</button>
                                </form>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}
{% block content %}<!-- Content  here -->{% endblock %}
