<header>
    <div class="px-3 py-2 bg-light">
        <div class="container">
            {% url 'home' as home_url %}
            <a class="navbar-brand" href="{{ home_url }}"><img src="/static/images/sort_logo_placeholder.png" alt="Self-assessment of organisational readiness tool logo" height="30rem" /></a>
        </div>
    </div>
    <div class="px-3 py-2 subheader">
        <div class="container">
            The Self-Assessment of Organisational Readiness Tool
        </div>
    </div>
</header>