{% extends "base_manager.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container mx-auto px-4 py-8 mt-4">
        <div class="d-flex justify-content-between align-items-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <i class="bx bxs-buildings"></i> My Organisation
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <i class="bx bxs-group"></i> Members
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container">
        <h1>{{ organisation.name }}</h1>
        <p>{{ organisation.description }}</p>
    </div>
    <div class="container">
        <h1>Invite new member</h1>
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn btn-primary"><i class="bx bxs-user-plus"></i>&nbsp;Invite</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
