{% extends "base_manager.html" %}
{% load project_filters %}
{% block content %}
    <div class="container mx-auto px-4 py-8 mt-4">
        <div class="d-flex justify-content-between align-items-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a href="{% url 'myorganisation' %}">
                            <i class="bx bxs-buildings"></i> My Organisation
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <i class="bx bxs-group"></i> Members
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="container mx-auto px-4 py-8">
        <h1>{{ organisation.name }}</h1>
        <p>{{ organisation.description }}</p>
    </div>
    <div class="container mx-auto px-4 py-8" id="organisation-members">
        <h2>Members</h2>
        <div class="mb-3">
            <a href="{% url 'member_invite' %}" type="button" class="btn btn-primary"
               title="Invite a new user to join this organisation">
                <i class='bx bxs-user-plus'></i> Invite new member
            </a>
        </div>
        <div>
            <table class="table">
                <thead class="thead">
                <tr>
                    <th scope="col">User name</th>
                    <th scope="col">Email address</th>
                    <th scope="col">Role</th>
                    <th scope="col">Joined at</th>
                    <th scope="col">Added by</th>
                    <th scope="col">Remove</th>
                </tr>
                </thead>
                {% for membership in memberships %}
                    <tr>
                        <th scope="row">{{ membership.user }}</th>
                        <td>
                            <a href="mailto:{{ membership.user.email }}">
                                {{ membership.user.email }}
                            </a>
                        </td>
                        <td class="font-monospace">{{ membership.role }}</td>
                        <td>
                            <time datetime="{{ membership.joined_at.isoformat }}">
                                {{ membership.joined_at }}
                            </time>
                        </td>
                        <td>{{ membership.added_by }}</td>
                        <td>
                            <a href="{% url 'member_delete' membership.pk %}" class="btn btn-danger"
                               title="Remove this user from the organisation">
                                <i class='bx bxs-user-minus'></i> Remove
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
