# GitHub Actions workflow for linting the systemd unit files
# https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions
name: Lint systemd units
on:
  push:
    branches: [ "main" ]
    paths:
      - config/systemd/**
  pull_request:
    branches: [ "main" ]
    paths:
      - config/systemd/**
permissions:
  contents: read
jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install systemdlint
        run: pip install systemdlint==1.4.0
      - name: Lint systemd units
        # Don't check if files exist since we're in CI environment
        run: systemdlint --norootfs ./config/systemd/*
